/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image {
  width: 150px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 300px;
  }
  .heading {
    font-size: 42px;
  }
}
